@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realidade | Inscrições Encerradas</title>
    <link href="~/Content/bootstrap4.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/all.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Images/logo-branco.png" />
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/evento.css" rel="stylesheet">
</head>
<body class="background-evento">
    <div class="middle-box inscricoes animated fadeInDown " style="height: 250px;">
        <div class="row justify-content-center">
            <div class="col col-6">
                <img class="full-width" src="~/Images/logo-branco.png" alt="Realidade" />
            </div>
        </div>
        <div class="row justify-content-center m-l-lg m-r-lg m-t-lg m-b-sm text-white text-center">
            <h3>As inscrições para o Realidade estão encerradas</h3>

        </div>
      
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/app/Util/forms.js"></script>
<script src="~/Scripts/app/Util/messages.js"></script>
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>

<script>
    function Newsletter() {
        if (ValidateForm(`#form-newsletter`)) {
            $.ajax({
                url: "/Inscricoes/Newsletter/",
                datatype: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(
                    {
                        Whatsapp: $(`#newsletter-fone`).val()
                    }),
                success: function () {
                    SuccessMessage("Obrigado por se inscrever para receber nossas novidades!");
                    $(`#newsletter-fone`).val("");
                }
            });
        }
    }
</script>
